* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  overflow: hidden;
  /* Hide scrollbars */
}

#matrixCanvas {
  display: block;
  /* Remove default inline spacing */
  cursor: pointer;
  /* Change cursor to indicate interactivity */
}

#whisper.visible {
  opacity: 1;
}